* {
    font-family: 'Courier New';
    color: black;
}

.heading {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 30vh;
    margin: 0;
    font-size: 600%;
}

.sub-heading {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0;
    font-size: 250%;
    color: rgb(180, 180, 180);
}

.navbar {
    display: flex;
    justify-content: center;
    text-align: center;
    list-style-type: none;
    padding-top: 8vh;
    margin: 0;
    font-size: 150%;
    padding-bottom: 33vh;
}
.nav-links {
    padding-left: 15px;
    padding-right: 15px;
}
.nav-links a:link {
    text-decoration: none;
}
.nav-links a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 540px) {
    .heading {
        padding-top: 25vh;
        font-size: 550%;
    }
    
    .sub-heading {
        font-size: 200%;
    }
    
    .navbar {
        flex-direction: column;
        font-size: 100%;
        padding-bottom: 20vh;
    }
    .nav-links {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}