* {
    color: black;
}

.heading {
    font-family: 'Courier New';
    text-align: center;
    padding-top: 33vh;
    margin: 0;
    font-size: 600%;
}

.sub-heading {
    display: flex;
    justify-content: center;
    font-family: 'Courier New';
    text-align: center;
    margin: 0;
    font-size: 250%;
}

.navbar {
    display: flex;
    justify-content: center;
    font-family: 'Courier New';
    list-style-type: none;
    text-align: center;
    padding-top: 8vh;
    margin: 0;
    font-size: 150%;
    padding-bottom: 33vh;
}
.navbar a:any-link {
    text-decoration: none;
}
.nav-links {
    padding-left: 15px;
    padding-right: 15px;
}

@media (max-width: 540px) {
    .navbar {
        flex-direction: column;
    }

    .nav-links {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}