* {
    color: black;
}

.heading {
    font-family: 'Courier New';
    text-align: center;
    padding-top: 33vh;
    margin: 0;
    font-size: 600%;
}

.sub-heading {
    font-family: 'Courier New';
    text-align: center;
    margin: 0;
    font-size: 250%;
}

.navbar {
    font-family: 'Courier New';
    list-style-type: none;
    text-align: center;
    padding-top: 8vh;
    margin: 0;
    font-size: 150%;
    padding-bottom: 33vh;
}
.navbar a:any-link {
    text-decoration: none;
}
.nav-links {
    display: inline;
    padding-left: 15px;
    padding-right: 15px;
}